/* style.css */

body {
    background-color: #77a6ec;
    padding: 20px;
}

#feed {
    margin-top: 30px;
}
#post-template {
    p {
        font-family: sans-serif;
    }

}
.top-right-image {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 1000px; /* adjust as needed */
    height: auto;
    z-index: 10000; /* make sure it's above other elements */
  }